/autom4te.cache
*.o
*.lo
*.la
*.libs
*.dirstamp
config.log
config.status
Makefile
bin/mela-config
libtool
run/Evolution
run/StructureFunctions
run/Timing
run/SIDISStructureFunctions
src/evolution/.deps/
build/
lib/libmela.dylib
*~
doc/code/VariableNf
*.aux
*.log
*.out
*.toc