/autom4te.cache
/aclocal.m4
/compile
/depcomp
/install-sh
/missing
/stamp-h1

# Objects
*.o
*.lo
*.la
*.libs
*.dirstamp
config.*
Makefile
bin/mela-config
libtool
run/Evolution
run/StructureFunctions
run/Timing


